<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Lab Problems:</h1>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="problemNumber" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Problem Number</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.problemNumber}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalNumberOfLabProblems"
                   [pageSize]="3"
                   [pageSizeOptions]="[]"
                   [pageIndex]="currentPage"
                   (page)="getLabProblems($event)">
    </mat-paginator>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>


    <form class="example-form" name="add-form">
      <h2 class="mat-h2">Add a new labProblem</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input #addId="ngModel" matInput placeholder="Ex. 56" id="add-id" [(ngModel)]="idToAdd" name="add-id" pattern="^(0|[1-9][0-9]*)$" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input #addDescription="ngModel" matInput placeholder="Ex. Some very interesting problem description" id="add-name" [(ngModel)]="descriptionToAdd" name="add-description" required pattern="^[a-zA-Z0-9_ ]*$">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Problem number</mat-label>
        <input #addProblem="ngModel" matInput placeholder="Ex. 39" id="add-problemNumber" [(ngModel)]="problemNumberToAdd" name="add-problem-number" pattern="^(0|[1-9][0-9]*)$" required>
      </mat-form-field>

      <button (click)="addLabProblem()" color="primary" class="labProblem-button" mat-raised-button>
        Add!
      </button>
      <mat-error *ngIf="badAdd || addId.errors?.required || addId.errors?.pattern || addDescription.errors?.required || addDescription.errors?.pattern || addProblem.errors?.required || addProblem.errors?.pattern">Input data is invalid!</mat-error>
    </form>

    <form class="example-form" name="delete-form">
      <h2 class="mat-h2">Delete a Lab Problem</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input #deleteId="ngModel" matInput placeholder="Ex. 56" id="delete-id" [(ngModel)]="idToDelete" name="delete-id" pattern="^(0|[1-9][0-9]*)$" required>
      </mat-form-field>
      <button (click)="deleteLabProblem()" color="primary" class="labProblem-button" mat-raised-button>
        Delete!
      </button>
      <mat-error *ngIf="badDelete || deleteId.errors?.required || deleteId.errors?.pattern">Input data is invalid!</mat-error>

    </form>

    <form class="example-form" name="update-form">
      <h2 class="mat-h2">Update a Lab Problem</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input #updateId="ngModel" matInput placeholder="Ex. 56" id="update-id" [(ngModel)]="idToUpdate" name="update-id" pattern="^(0|[1-9][0-9]*)$" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input #updateName="ngModel" matInput placeholder="Ex. Henry" id="update-name" [(ngModel)]="descriptionToUpdate" name="update-description" required pattern="^[a-zA-Z0-9_ ]*$">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Problem Number</mat-label>
        <input #updateDescription="ngModel" matInput placeholder="Ex. 926" id="update-problemNumber" [(ngModel)]="problemNumberToUpdate" name="update-problem-number" pattern="^(0|[1-9][0-9]*)$">
      </mat-form-field>

      <button (click)="updateLabProblem()" color="primary" class="labProblem-button" mat-raised-button>
        Update!
      </button>
      <mat-error *ngIf="badUpdate || updateId.errors?.required || updateId.errors?.pattern
        || updateName.errors?.pattern || updateDescription.errors?.pattern">Input data is invalid!</mat-error>

    </form>

    <form class="example-form" name="delete-form">
      <h2 class="mat-h2">Filter lab problems by problem number</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Problem Number</mat-label>
        <input matInput placeholder="Ex. 56" id="problem-number-to-filter-by" [(ngModel)]="problemNumberToFilterBy" name="problem-number-to-filter-by" pattern="^(0|[1-9][0-9]*)$" required>
      </mat-form-field>
      <button (click)="filterLabProblems()" color="primary" class="labProblem-button" mat-raised-button>
        Filter!
      </button>
      <mat-error *ngIf="badFilterInput">Input data is invalid!</mat-error>

    </form>
    <table *ngIf="filtered" mat-table [dataSource]="labProblemsFiltered" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="problemNumber">
        <th mat-header-cell *matHeaderCellDef> Problem Number</th>
        <td mat-cell *matCellDef="let labProblem"> {{labProblem.problemNumber}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

</div>
