<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Welcome to the Problems Assignment app!</h1>

    <button (click)="redirectToStudents()" color="primary" class="redirect-button" mat-raised-button>
      Students
    </button> <br>
    <button (click)="redirectToLabProblems()" color="primary" class="redirect-button" mat-raised-button>
      Lab Problems
    </button> <br>
    <button (click)="redirectToAssignments()" color="primary" class="redirect-button" mat-raised-button>
      Assignments
    </button> <br>
    <button (click)="redirectToStats()" color="primary" class="redirect-button" mat-raised-button>
      Stats
    </button>

  </mat-card>

</div>
